
layout {
    element-class:DVLayoutElement;
}

canvas {
    element-class:DVCanvasElement;
    object-class:CALayer;
}

view {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
}

text {
    element-class:DVTextElement;
    object-class:CALayer;
}

img {
    element-class:DVImageElement;
    object-class:CALayer;
}

.item {
    width:100%;
    height:64px;
    margin-top:12px;
    background-color:#ffffff;
}

.item-hover {
    background-color:#ffff00;
}
