
/* iOS 基础样式 */

layout {
    element-class:DVLayoutElement;
}

canvas {
    element-class:DVCanvasElement;
    object-class:CALayer;
}

view {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
}

page {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
    paging-enabled:true;
    layout:flow-x;
}

text {
    element-class:DVTextElement;
    object-class:CALayer;
    background-color:clear;
    color:#333;
}

img {
    element-class:DVImageElement;
    object-class:CALayer;
}
