
/* iOS 基础样式 */

layout {
    element-class:DVLayoutElement;
}

canvas {
    element-class:DVCanvasElement;
    object-class:CALayer;
}

view {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
}

page {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
    view-paging-enabled:true;
    view-scroll-enabled:true;
    view-bounces-enabled:true;
    layout:flow-x;
}

vpage {
    element-class:DVViewElement;
    object-class:DVDocumentView;
    object-detach-children:true;
    view-paging-enabled:true;
    view-scroll-enabled:true;
    view-bounces-enabled:true;
    layout:flow;
}

text {
    element-class:DVTextElement;
    object-class:CALayer;
    background-color:clear;
    color:#333;
    enabled:false;
}

img {
    element-class:DVImageElement;
    object-class:CALayer;
}
